body {
  display: flex;                
  justify-content: center;      
  align-items: center;          
  height: 100vh;                
  background-color: #2c2c2c;   
}

.session-container {
  display: flex;
  flex-direction: column;       
  align-items: center;          
  gap: 10px;                    
}

.create-session-button {
  padding: 10px 20px; 
  font-size: 16px; 
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.create-session-button:hover {
  background-color: #45a049; 
}

.join-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.session-input {
  width: 250px; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
}

.join-button {
  padding: 10px 20px; 
  background-color: #28a745; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
}

.join-button:hover {
  background-color: #218838; 
}
